.noto-serif> {
    font-family: Noto Serif, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style */

.display-flex {
    display: flex;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Color style */
.text-dark {
    color: #252432;
}

.orange-text-bold {
    color: #E95A08;
}

.black-text-bold {
    color: #000000;
}

/* navbar related style */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: white;
    border-bottom: 0px solid #ddd;
}

.nav-iteams {
    list-style: none;
    font-size: 1.5rem;
}

.logo img {
    height: 82px;
    margin-right: 10px;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #252432;
    font-weight: 500;
    margin-right: 48px;
}


.cart {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #333;
}

.cart-img {
    width: 26px;
    height: 26px;
    margin-right: 0px;
}


/* banner style */
.banner {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 221px;
    max-width: 1140px;
    margin: auto;

}

.banner-titel {
    flex: 1;
    padding-right: 20px;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;

}

.banner-description {
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000;
    margin-bottom: 0;
}

.banner-img {
    text-align: right;
    width: 100%;
    margin-bottom: 0;

}